In [1]:
import pandas as pd

In [2]:
m = pd.read_pickle('house_price_predictor.pkl')

In [3]:
m

LinearRegression()

In [8]:
inc = eval(input('enter the Avg. Area Income:'))
age = eval(input('enter the Avg. Area House Age :'))
room = eval(input('enter the Avg. Area Number of Rooms :'))
pop = eval(input('enter the   Area Population:'))

query = pd.DataFrame({'Avg. Area Income':[inc],'Avg. Area House Age':[age],'Avg. Area Number of Rooms':[room],'Area Population':[pop]})

enter the Avg. Area Income:90000
enter the Avg. Area House Age :9
enter the Avg. Area Number of Rooms :9
enter the   Area Population:90000

In [9]:
query

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Area Population
0,90000,9,9,90000

In [10]:
m.predict(query)

array([3261568.98595567])

In [11]:
round(m.predict(query)[0],2)

3261568.99